@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

:root {
  --font-large: 34px;
  --font-medium: 24px;
  --font-small: 18px;
  --font-button-large: 30px;
  --font-button-medium: 20px;
  --font-button-small: 14px;
  --bg-body: linear-gradient(270deg, #ecaadb, #be9ff6);
  --bg-buttons: #6225e69c;
  --color-notice: #6225e69c;
  --hover-buttons: #FBC638;
}

body {
  position: relative;
  padding: 20px;
  font-family: 'Special Elite', cursive;
  height: 100%;
  justify-content: center;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: 14px;
  line-height: 50px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  letter-spacing: 0.1px;
  background-image: var(--bg-body);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  padding: 0;
  font: inherit;
}